<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>Vacation Tracker | Best Way Way to Share Family Memories</title>
    <meta name="description" content="Keep track of your family memories with the Vacation Tracker. This website allows you to upload your vacation memories and have other family members comment about the memories.">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Vacation Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'vacations' ? 'active' : '' %>"><a href="/vacations" class="nav-link">Home</a></li>
      </ul>
      <ul class="navbar-nav">
        <% if(!currentUser){ %>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login" class="nav-link">Login</a></li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register" class="nav-link">Sign Up</a></li>
        <% } else { %>
            <li class="nav-item"><a href="/users/<%= currentUser.id %>" class="nav-link">Signed in as <%= currentUser.username %></a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <% } %>
    </ul>
    </div>
  </nav>

    <div class="container alert-container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
      </div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
      </div>
      <% } %>
    </div>
    <div class="container">
  </body>
</html>
