<%- include("../partials/header") %>

<div class="row justify-content-center">
  <div class="col-md-12">
    <h1 class="text-center">Edit <%= campground.name %></h1>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-10">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="editVacationName" class="sr-only">Name</label>
        <input
          id="editVacationName"
          class="form-control"
          type="text"
          name="campground[name]"
          value="<%= campground.name %>"
        />
      </div>
      <div class="form-group">
        <label for="editVacationPrice" class="sr-only">Price</label>
        <input
          id="editVacationPrice"
          class="form-control"
          type="number"
          name="campground[price]"
          value="<%= campground.price %>"
          min="0.00"
          step="0.01"
        />
      </div>
      <div class="form-group">
        <label for="campgroundEditImage">Image</label>
        <input
          id="campgroundEditImage"
          class="form-control"
          type="file"
          name="image"
          value="<%= campground.image %>"
        />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="location"
          id="location"
          value="<%= campground.location %>"
        />
      </div>
      <div class="form-group">
        <label for="descriptionInput">Description:</label>
        <textarea
          class="form-control"
          name="campground[description]"
          id="descriptionInput"
          rows="7"
        >
<%= campground.description %></textarea
        >
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>

<%- include("../partials/footer") %>
