<%- include("../partials/header") %>

<div class="row pb-5">
  <div class="col-md-3">
    <p class="lead">Where is it?</p>
    <!-- <div class="list-group">
      <div class="list-group-item active">Map</div>
      <div class="list-group-item">Info 2</div>
      <div class="list-group-item">Info 3</div>
    </div> -->
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img
        src="<%= campground.image %>"
        alt="Picture of <%= campground.name %>"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="float-right">$<%= campground.price %>/night</p>
        <h5 class="card-title"><%= campground.name %></h5>
        <p>
          <em
            >Submitted by:
            <a href="/users/<%= campground.author.id %>"
              ><%= campground.author.username %></a
            >, <%= moment(campground.createdAt).fromNow() %></em
          >
        </p>
        <div class="float-right">
          <button
            type="button"
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#campgroundLikes"
          >
            <span
              >Total Likes: <i class="far fa-thumbs-up"></i> <%=
              campground.likes.length %></span
            >
          </button>
        </div>
        <div class="pb-2">
          <form action="/campgrounds/<%= campground._id %>/like" method="POST">
            <div class="btn-group">
              <% if (currentUser && campground.likes.some(like => { return
              like.equals(currentUser._id); })) { %>
              <button class="btn bt-primary">
                <i class="far fa-thumbs-up"></i> Liked (<%=
                campground.likes.length %>)
              </button>
              <% } else { %>
              <button class="btn btn-secondary">
                <i class="far fa-thumbs-up"></i> Like (<%=
                campground.likes.length %>)
              </button>
              <% } %>
              <!-- <button
                type="button"
                class="btn btn-default"
                data-toggle="modal"
                data-target="#campgroundLikes"
              >
                See more details
              </button> -->
            </div>
          </form>
        </div>
        <hr />
        <p class="card-text"><%= campground.description %></p>

        <% if(currentUser && campground.author.id.equals(currentUser._id) ||
        currentUser && currentUser.isAdmin) { %>
        <a
          class="btn btn-warning btn-sm"
          href="/campgrounds/<%= campground._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline-block"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <% } %>
        <div class="text-right">
          <a
            class="btn btn-success mb-5"
            href="/campgrounds/<%= campground._id %>/comments/new"
            >Add New Comment</a
          >
        </div>
        <div class="row">
          <% campground.comments.forEach((comment) => { %>

          <div class="col-md-12">
            <strong
              ><a href="/users/<%= campground.author.id %>"
                ><%= comment.author.username %></a
              ></strong
            >
            <span class="float-right"
              ><%= moment(comment.createdAt).fromNow() %></span
            >
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id) ||
            currentUser && currentUser.isAdmin) { %>
            <div class="text-right">
              <a
                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                class="btn btn-sm btn-warning"
                >Edit</a
              >
              <form
                class="d-inline-block"
                action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <input
                  type="submit"
                  class="btn btn-sm btn-danger"
                  value="Delete"
                />
              </form>
            </div>
            <% } %>
            <hr />
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Campground likes: <%= campground.likes.length %>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Liked by:</th>
            </tr>
          </thead>
          <tbody>
            <% campground.likes.forEach(function(like) { %>
            <tr>
              <td>
                <span class="badge"><i class="fas fa-user"></i></span>
                <a href="/users/<%= campground.author.id %>"
                  ><%= like.username %></a
                >
              </td>
            </tr>
            <% }); %> <% if (campground.likes.length === 0) { %>
            <tr>
              <td><em>No likes yet.</em></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
    let lat = <%= campground.lat %>;
    let lng = <%= campground.lng %>;
    let center = {lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    let contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPAsTJpj4EHZGx1YoQgfudjVm9QjIDQGw&callback=initMap"
></script>
<%- include("../partials/footer") %>
