<%- include("../partials/header") %>

<div class="row pb-5">
  <div class="col-md-3">
    <p class="lead">Where is it?</p>
    <!-- <div class="list-group">
      <div class="list-group-item active">Map</div>
      <div class="list-group-item">Info 2</div>
      <div class="list-group-item">Info 3</div>
    </div> -->
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img
        src="<%= vacation.image %>"
        alt="Picture of <%= vacation.name %>"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="float-right">$<%= vacation.price %>/night</p>
        <h5 class="card-title"><%= vacation.name %></h5>
        <p>
          <em
            >Submitted by:
            <a href="/users/<%= vacation.author.id %>"
              ><%= vacation.author.username %></a
            >, <%= moment(vacation.createdAt).fromNow() %></em
          >
        </p>
        <div class="float-right">
          <button
            type="button"
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#vacationLikes"
          >
            <span
              >Total Likes: <i class="far fa-thumbs-up"></i> <%=
              vacation.likes.length %></span
            >
          </button>
        </div>
        <div class="pb-2">
          <form action="/vacations/<%= vacation._id %>/like" method="POST">
            <div class="btn-group">
              <% if (currentUser && vacation.likes.some(like => { return
              like.equals(currentUser._id); })) { %>
              <button class="btn bt-primary">
                <i class="far fa-thumbs-up"></i> Liked (<%=
                vacation.likes.length %>)
              </button>
              <% } else { %>
              <button class="btn btn-secondary">
                <i class="far fa-thumbs-up"></i> Like (<%=
                vacation.likes.length %>)
              </button>
              <% } %>
            </div>
          </form>
        </div>

        <p class="card-text"><%= vacation.description %></p>

        <% if(currentUser && vacation.author.id.equals(currentUser._id) ||
        currentUser && currentUser.isAdmin) { %>
        
        <form
          class="d-inline-block float-right"
          action="/vacations/<%= vacation._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <a
          class="btn btn-warning btn-sm float-right mr-1"
          href="/vacations/<%= vacation._id %>/edit"
          >Edit</a
        >
        <% } %>
        <div class="mt-2">
          <a class="btn btn-light" href="/vacations"
            ><i class="fa fa-arrow-left"></i> Go back</a
          >
        </div>
        <hr />

        <!--Review section-->
        <div class="card mb-3">
          <div class="card-body">
              <% if (vacation.rating === 0) { %>
              <h5>
                  <em>No reviews yet.</em>
              </h5>
              <% } else { %>
              <p>
                  <span class="fas fa-star checked"></span>
                  <span class="fas fa-star <% if (vacation.rating > 1.5) { %> checked <% } %>"></span>
                  <span class="fas fa-star <% if (vacation.rating > 2.5) { %> checked <% } %>"></span>
                  <span class="fas fa-star <% if (vacation.rating > 3.5) { %> checked <% } %>"></span>
                  <span class="fas fa-star <% if (vacation.rating > 4.5) { %> checked <% } %>"></span>
                  <em>(total reviews: <%= vacation.reviews.length %>)</em>
              </p>
              <p>
                  Current vacation rating: <strong><%= vacation.rating.toFixed(2) %></strong>
              </p>
              <p><h4>Latest reviews for this vacation:</h4></p>
              <hr>
              <% vacation.reviews.slice(0, 5).forEach(function(review){ %>
              <div class="row">
                  <div class="col-md-4">
                      <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                      <div>Review by: <strong><a href="/users/<%= review.author.id %>"><%= review.author.username %></a></strong></div>
                      <span><em><%= review.updatedAt.toDateString() %></em></span>
                  </div>
                  <div class="col-md-8 d-flex justify-content-between align-items-center">
                      <p class="mb-0 p-0 col-8">
                          <%= review.text %>
                      </p>
                      <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                        <div class="align-self-end d-flex col-3 justify-content-end p-0">
                          <a class="btn btn-sm btn-warning mr-1"
                         href="/vacations/<%=vacation._id %>/reviews/<%=review._id %>/edit">Edit</a>
                         <form class="d-inline-block" id="delete-form" action="/vacations/<%=vacation._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                          <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                      </form>
                        </div>
                      
                      <% } %>
                  </div>
              </div>
              <hr>
              <% }); %>
              <div class="mb-2">
                  <h5><a href="/vacations/<%= vacation._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h5>
              </div>
              <% } %>
              <div>
                  <a class="btn btn-primary <% if (currentUser && vacation.reviews.some( (review) => {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/vacations/<%= vacation._id %>/reviews/new">
                      Write a New Review</a>
              </div>
          </div>
      </div>

        <div class="text-right">
          <a
            class="btn btn-success"
            href="/vacations/<%= vacation._id %>/comments/new"
            >Add New Comment</a
          >
        </div>
        <div class="row">
          <% vacation.comments.forEach((comment) => { %>
          
          <div class="col-md-12">
            <hr />

            <blockquote class="blockquote">
              <p class="mb-0"><%= comment.text %></p>
              <footer class="blockquote-footer"><a href="/users/<%= vacation.author.id %>"
                ><%= comment.author.username %></a
              ><span class="float-right"
              ><%= moment(comment.createdAt).fromNow() %></span
            ></footer>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <div class="text-right mt-2">
              <a
                href="/vacations/<%= vacation._id %>/comments/<%= comment._id %>/edit"
                class="btn btn-sm btn-warning"
                >Edit</a
              >
              <form
                class="d-inline-block"
                action="/vacations/<%= vacation._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <input
                  type="submit"
                  class="btn btn-sm btn-danger"
                  value="Delete"
                />
              </form>
            </div>
            <% } %>
            </blockquote>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Vacation Likes Modal -->
<div id="vacationLikes" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Vacation likes: <%= vacation.likes.length %>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Liked by:</th>
            </tr>
          </thead>
          <tbody>
            <% vacation.likes.forEach(function(like) { %>
            <tr>
              <td>
                <span class="badge"><i class="fas fa-user"></i></span>
                <a href="/users/<%= vacation.author.id %>"
                  ><%= like.username %></a
                >
              </td>
            </tr>
            <% }); %> <% if (vacation.likes.length === 0) { %>
            <tr>
              <td><em>No likes yet.</em></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
    let lat = <%= vacation.lat %>;
    let lng = <%= vacation.lng %>;
    let center = {lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    let contentString = `
      <strong><%= vacation.name %><br />
      <%= vacation.location %></strong>
      <p><%= vacation.description %></p>
    `
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPAsTJpj4EHZGx1YoQgfudjVm9QjIDQGw&callback=initMap"
></script>
<%- include("../partials/footer") %>
