<%- include("../partials/header") %>

<div class="row">
  <div class="col-md-5">
    <div class="card mb-3">
      <div class="card-body pb-1">
        <h1 class="text-center"><%= user.firstName + " " + user.lastName %></h1>
        <img
          src="<%= user.image %>"
          alt="Profile image of <%= user.firstName + ' ' + user.lastName %>"
        />
        <p><%= user.description %></p>
        <p class="card-body__email mb-0 text-right">
          Contact me at <a href="mailto:<%= user.email %>"><%= user.email %></a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <h3><%= user.firstName + " " + user.lastName %>'s Vacation Spots:</h3>
    <ul class="user-vacation-list">
      <% vacations.forEach( (vacation) => { %>
      <li>
        <a href="/vacations/<%= vacation.id %>"><%= vacation.name %></a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<%- include("../partials/footer") %>
